<div class="jumbotron text-center">
    <h1 class="display-3 mb-3">Things To-Do</h1>
    <div class="row">
        {{#each todos}}
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card card-body mb-2">
                <h4>{{title}}</h4>
                <p>{{details}}</p>
                <a class="btn btn-secondary btn-block mb-1" href="/todo/edit/{{id}}">Edit</a>
                <form action="/todo/{{id}}?_method=DELETE" method="post">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="submit" class="btn btn-danger btn-block" value="delete">
                </form>
            </div>
        </div>
        {{else}}
    </div>
    <h3>Yaay! No To-Dos left</h3>
    {{/each}}

    <a href="/todo/add">
        <button type="button" class="btn btn-primary bmd-btn-fab my-fab">
            <i class="material-icons">add</i>
        </button>
    </a>
</div>