<div class="jumbotron text-center">
    <h1 class="display-3 mb-3">Trash</h1>
    <div class="row">
        {{#each todos}}
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card mb-2 mt-1">
                <div class="card-body pb-1">
                    <div class="row justify-content-end" style="height:6px">
                        <button type="button" class="btn btn-danger bmd-btn-icon" style="top:-12px;">
                            <i class="material-icons" data-toggle="collapse" href="#{{id}}" aria-expanded="false"
                                aria-controls="{{id}}">close</i>
                        </button>
                        </a>
                    </div>
                    <h4 class="px-2">{{title}}</h4>
                    <p>{{details}}</p>

                    <form action="/todo/recover/{{id}}?_method=PUT" method="post" class="mb-0">
                        <input type="hidden" name="_method" value="PUT">
                        <div class="row justify-content-end">
                            <button type="submit" class="btn btn-success" href="/todo/edit/{{id}}">Recover</button>
                        </div>
                    </form>


                    <div class="collapse" id="{{id}}">
                        <div class="card-footer py-1">
                            <form action="/todo/{{id}}?_method=DELETE" method="post" class="mb-0 justify-content-end">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Permanently delete this note?</span>
                                </div>
                                <div class="row">
                                    <button type="button" class="btn btn-secondary" data-toggle="collapse" href="#{{id}}"
                                        aria-expanded="false" aria-controls="{{id}}">CANCEL</button>
                                    <div class="col"></div>
                                    <input type="hidden" name="_method" value="DELETE">
                                    <input type="submit" class="btn btn-danger" value="delete">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{else}}
    </div>
    <h3>Nothing in here!</h3>
    {{/each}}

        <button type="button" class="btn btn-danger bmd-btn-fab my-fab" data-toggle="modal" data-target="#deleteAll">
            <i class="material-icons">delete_forever</i>
        </button>
   
</div>